/* general */
:root {
    --Primaire: #9356DC;
    --Secondaire: #FF79DA;
    --Tertiaire:#99E2D0;
    --gris: #f6f6f6;
    --gris2: #eaeaea;
   }
   
  
  element.style {
    font-size: 14px;
    
  }
  
  html, body {
    font-family: 'Roboto Flex', sans-serif;
    width: 100%;
    max-width: 414px;
    min-width: 414px;
    margin: auto;
  }
  
  .textGras {
    font-weight: bold;
    font-size: 24px;
  }
  
  .flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
  }
  .flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }
  .flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .decorationNone {
  text-decoration: none;
  color: black;
  }
  
  .logo {
    height: 50px;
    position: relative;
  }
  
  .logo_img {
    width: 140px;
  }

  .flecheHeader {
    margin-left: -110px;
    margin-right: 110px;
  }

  /* image */

  .imgRestaurant {
    width: 100%;
    height: 250px;
    position: relative;
  }

  /* menu */

  .menu {
    position: absolute;
    margin-top: -50px;
    height: auto;
    max-width: 414px;
    min-width: 414px;
    width: 100%;
    background-color: var(--gris);
    border-radius: 40px 40px 0px 0px;
  
  }

  .titre {
    margin-top: 25px;
    width: 90%;
    height: 25px;
    font-style: italic;
  }

  .Heart {
    margin-left: 180px;
  }

  .card {
    width: 90%;
    height: auto;
  }

   .titreCard {
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom:3px solid #99E2D0;
    width: 40px;
   }

   .titreCard > p {
    margin-bottom: 4px;
   }

  .miniCard { 
    height: 70px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 10px 0px lightgray;
    margin-bottom: 10px;
  }

  .miniCard > h3 {
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
  }

  .pMiniCard {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
  }
  .pMiniCard > p {
    padding-top: 5px;
    margin: 0;
    color: rgb(71, 71, 71);
  }

  .prix {
    background-color: #9356DC;
    margin: 0;
  }


  
  .button_explorer {
    margin-top: 20px;
    text-decoration: none;
    background: rgb(255,0,254);
    background: linear-gradient(170deg, rgba(255,0,254,1) 0%, rgba(154,0,255,1) 100%);
    border-radius: 25px;
    box-shadow: 0px 5px 20px 0px gray;
    font-size: 14px;
    color: white;
    width: 170px;
    height: 40px;
    margin-bottom: 70px;
  }

  .button_explorer:hover {
    transition-duration: 100ms;
    width: 200px;
    background: linear-gradient(70deg, rgba(255,0,254,1) 0%, rgba(154,0,255,1) 100%);
  }

 /* footer */

.footer {
  height: auto;
  position: relative;
  margin-top: 1060px;
  background-color: rgb(48, 48, 48);
  padding: 25px;
  padding-bottom: 50px;
}

.logoFooter {
  width: 120px;
  padding-bottom: 20px;
}

.blocFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textFooter {
  color: white;
  font-size: 16px;
}

.iconneFooter {
  font-size: 14px;
  padding-right: 10px;
}

.iconneFooter2 {
  font-size: 10px;
  padding-right: 10px;
}
